{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.classifieds'|trans }}
{% endblock %}


{% block body %}

    <div class ="head">
        <a href="{{ url('classified_index') }}"><h5>{{ 'title.classifieds'|trans }}</h5></a>
    </div>
    <form action="{{ url('classified_search_index') }}" method="get">
        <div class="col-sm-5 col-sm-offset-3">
          <input type="text" class="form-control" name="string" placeholder="Czego szukasz?" >
        </div>
        <div class="col-sm-1">
            <input type="submit" class="btn btn-info btn-flat" value="{{ 'search'|trans }}">
        </div>
    </form>
    <br>
    <br>
    <br>

    <div class="tags"></div>
    {% if tags is defined and tags|length %}
        {% for item in tags %}
            <h3>{{ item.name }}</h3>
                <a href="{{ path('tag_view', {'id': item.id}) }}" class="btn btn-default" title="{{ 'action.view'|trans }}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    {{ 'action.view'|trans }}
                </a>
        {% endfor %}
    {% endif %}


    <article>
    <div class="notices"></div>
    <a href="{{ path('tag_index') }}" class="btn btn-default" title="{{ 'action.view'|trans }}">
        {{ 'category'|trans }}
    </a>


    {% if classifieds is defined and classifieds|length %}
            {% for item in classifieds %}
                <div class="classified">
                <br><br><a href="{{ path('classified_view', {'id': item.id}) }}" title="{{ 'action.view'|trans }}"> <br>{{ item.name }}    </a>
                </div>
                <div class="price"> <strong>Cena:</strong>{{ item.price }}zł</div>



            {% endfor %}
        <footer>
            {{ pagerfanta(classifieds, 'twitter_bootstrap3_translated', { routeName: ('classified_index_paginated') }) }}
        </footer>
        </article>


    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}


{% endblock %}