{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ url('classified_index') }}"><h5>{{ 'title.classifieds'|trans }}</h5></a>

    {% if classified is defined and classified|length %}

            <h2>{{ classified.name }}</h2>
            {#<li>{{ classified.date }}</li>#}
            {{ classified.content }}
           <br><strong> {{ classified.price }}zł {{ classified.user }}</strong>
        <div class="row text-center">
            <img src="{{ asset('web/uploads/photos') }}/{{ classified.photo }}" style="max-width: 600px;" class="img-rounded">
        </div>

                    <div class="btn-group" role="group" aria-label="{{ 'label.actions'|trans }}">
                        <img src="{{ asset('uploads/photos') }}{{ classified.photo }}">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('classified_edit', {'id': classified.id}) }}" class="btn btn-xl" style="padding:5px;">{{ 'button.edit'|trans }}</a>
                            <a href="{{ url('classified_delete', {'id': classified.id}) }}" class="btn btn-xl" style="padding:5px;">{{ 'button.delete'|trans }}</a><br>
                        {% endif %}

                        <a href="{{ path('classified_index') }}" class="btn btn-default" title="{{ 'action.view'|trans }}">
                            Powrót
                        </a>
                    </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}