{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ url('classified_index') }}"><h5>{{ 'title.classifieds'|trans }}</h5></a>

    {% if classified is defined and classified|length %}

            <h2>{{ classified.name }}</h2>
            {#<li>{{ classified.date }}</li>#}
            {{ classified.content }}
           <br><strong> {{ classified.price }}zł {{ classified.user }}</strong>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('classified_edit', {'id': classified.id}) }}" class="btn btn-xl" style="padding:5px;">{{ 'button.edit'|trans }}</a>
                            <a href="{{ url('classified_delete', {'id': classified.id}) }}" class="btn btn-xl" style="padding:5px;">{{ 'button.delete'|trans }}</a><br>
                        {% endif %}
                        <br>
        <a href="{{ path('classified_index') }}" class="btn btn-default" title="{{ 'action.view'|trans }}">
            Powrót
        </a>
                        {% if is_granted('ROLE_USER') %}
                            <div class="contact"">
                            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                               Zadaj pytanie ogłoszeniodawcy
                            <br><br>Adres email {{ classified.email }}
                            {%if ( classified.phonenumber | length > 8 ) %}
                            <br>Telefon kontaktowy {{ classified.phonenumber }}
                                {% else %}

                            {% endif %}
                            </div>
                        {% endif %}

                        <br><br>

                    </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}