{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.classifieds'|trans }}
{% endblock %}




{% block body %}
    <a href="{{ url('classified_index') }}"><h5>{{ 'title.classifieds'|trans }}</h5></a>

    <div class="filter">
    <a href="{{ path('classified_index') }}">
        <h3>Wszystkie ogłoszenia </a> >>Kategorie </h3>

    <article>
    </article>


    <div class="kategorie">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group" aria-label="{{ 'label.actions'|trans }}">
            <a href="{{ path('tag_add') }}" class="btn btn-warning" title="{{ 'action.add'|trans }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {{ 'action.add'|trans }}
            </a>
        </div>

    {% endif %}

    {% if tags is defined and tags|length %}

        {% for item in tags %}


           <a href="{{ path('tag_view', {'id': item.id}) }}" class="btn btn-default" title="{{ 'action.view'|trans }}">
                                    {{ item.name }}
           </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('tag_edit', {'id': item.id}) }}"  title="{{ 'action.edit'|trans }}">
                                    {{ 'action.edit'|trans }}
                </a>

            {% endif %}

        {% endfor %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}


{% endblock %}